.header {
  padding: 20px;

  h3 {
    margin: 0;
    text-transform: capitalize;
  }

  p, a {
    margin: 0;
    font-size: 12px;
    line-height: 1.2;
    font-weight: normal;
    text-transform: none;
  }

  a {
    float: right;
  }
}