//For colors visit - https://coolors.co/587b7f-93a7ba-a8cac3-bfc0c0-bbf0ff

$font-stack: Helvetica, sans-serif;
$font-size-medium: 14px;
$app-top-margin: 30px;
$line-height-medium: 25px;
$app-max-width: 375px;


//form
$form-border: 1px #ddd solid;
$form-border-radius: 3px;
$form-outline: 1px #AADBE8 solid;